<li class="nav-item dropdown">
  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      {{ city.name }} <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li ><a class="dropdown-item" href="#" ng-click='selectCity(city)'>All</a></li>
    <li role="separator" class="dropdown-divider"></li>
    <li ng-repeat="cPerson in city.people" ng-class="{'active': cPerson.id == person.id}">
        <a class="dropdown-item" href="#" ng-click='selectPerson(cPerson, city)'>{{ cPerson.person_name }}</a>
    </li>
  </ul>
</li>
