{% extends 'base.html' %}

{% block content %}
<div class="main map-content">

  <div class="row map-content">
      <div id="map">
{#        <div class="comments-list hidden-xs hidden-sm">#}
{#          <ride-comments-list comments="comments" person="person" city="city"></ride-comments-list>#}
{#        </div>#}
      </div>

</div>
{% endblock %}

