{% load staticfiles compress %}

<!DOCTYPE html>

<html lang="en">
<head>    <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}Bikemaps{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Bikemaps is the visual exploration of the experiences of cyclists in Perth, Melbourne, and Utrecht.">
  <meta name="author" content="Georgia Scott, Chid Gilovitz">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/project.css' %}">
</head>

<body ng-app="bikeMapApp" ng-controller="BikeMapController">
  <div class="m-b-1">
    <nav class="navbar navbar-dark navbar-static-top bg-inverse">
      <div class="container">
        <a class="navbar-brand" target="_self" href="/">BikeMaps</a>
        <button type="button" class="navbar-toggler hidden-sm-up pull-xs-right" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
          &#9776;
        </button>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-toggleable-xs" id="bs-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link" target="_self" href="{% url 'about' %}">About</a>
            </li>
          </ul>

          <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
            <span ng-show="loading" class="nav-item">
              <i class="fa fa-cog fa-spin fa-2x"></i> Loading rides
            </span>
            </li>
            {% verbatim %}
            <people-list ng-repeat="city in cities" city="city" person="person"></people-list>
            {% endverbatim %}
          </ul>
        </div>
      </div>
    </nav>
  </div>

  {% block content %}
  {% endblock %}

</body>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
 <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.js'></script>
 <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>

 {% compress js %}
 <script src="{% static 'angular/angular.min.js' %}"></script>
 <script src="{% static 'angular-resource/angular-resource.min.js' %}"></script>
 <script src="{% static 'js/rides/resources.js' %}"></script>
 <script src="{% static 'js/rides/directives.js' %}"></script>
 <script src="{% static 'js/rides/app.js' %}"></script>
 {% endcompress %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-84764897-1', 'auto');
    ga('send', 'pageview');
  </script>
</html>
