/* These styles are generated from project.scss. */

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

/* This is a fix for the bootstrap4 alpha release */
@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    float: none;
    width: 100%;
    display: inline-block;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }

  .nav.navbar-nav.pull-xs-right {
    float: none !important;
  }
}

/* Display django-debug-toolbar.
   See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
   and https://github.com/pydanny/cookiecutter-django/issues/317
*/
[hidden][style="display: block;"] {
  display: block !important;
}

html, body, .map-content /*, and all other map parent selectors*/ {
  height: 100%;
  /*overflow: hidden;*/
  width: 100%;
}
.row.map-content {
	padding-right: 0;
	margin-right: 0;
	margin-left: 0;
}
#map {
  width: auto;
  height: 100%;
}

.top-row {
	margin-top: 20px;
}

.main {
	margin-top: -20px;
}

.comments-list {
	overflow: scroll;
	height: 85%;
	position: relative;
	top: 20px;
	left: -20px;
	width: 23vw;
	float: right;
	z-index: 200;
}
