{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <p class="col-md-5">
        Bikemaps.xyz is the visual manifestation of Georgia Scott's PhD research, which is a study of the embodied
        experience of cycling. It's a work in progress and will be refined over the coming weeks.
      </p>
      <p class="col-md-5">
        The data was collected and produced by cyclists in Melbourne, Perth and Utrecht who narrated their bike rides
        into a smartphone while recording a GPS track. The point is to show a snapshot of their experiences cycling
        through the city, as told by them in their own words.
      </p>
      <p class="col-md-5">
        These snapshots are called spatial transcripts. Georgia is interrogating them using a grounded visualisation
        method to understand how the cyclists' experience relate to the spaces and places they move through.
      </p>
      <p class="col-md-5">
        Data wrangling and web development was done by <a href="https://twitter.com/chidakash">Chid Gilovitz</a>.
      </p>
      <p class="col-md-5">
        For more information about the project check out <a href="http://georgiascott.com.au">http://georgiascott.com.au</a>.
        Get in touch via Twitter <a href="https://twitter.com/the_wildwood">@the_wildwood</a>.
      </p>
    </div>
  </div>











{% endblock %}
